---
/**
 * * These are small cards with icons, titles, and text
 * This looks best with an even number of cards. They are smaller to
 * use with more cards in the same section. 4 or 6 cards is probably ideal
 *
 * ! If you can an error for an icon like "Error: Not Found: "calendar-check" in pack "tabler",
 * ! You can copy to actual SVG into src/icons and name it however and use similar to below
 */

// components
import FeatureCard from "@components/FeatureCard/FeatureCardSmall.astro";

interface FeatureData {
  icon: string;
  title: string;
  text: string;
}

// data
const featureData: FeatureData[] = [
  {
    icon: "tabler-calendar-check",
    title: "Desarrollo Web",
    text: `Desarrollamos sitios web y aplicaciones web a medida, con un diseño moderno y funcionalidades avanzadas que ayudaran en tu toma de decisiones.`,
  },

  {
    icon: "tabler:layout-grid",
    title: "Analíticas Detalladas",
    text: `Mejora el rendimiento de tu negocio en base a los datos de tu negocio con nuestras estadísticas detalladas y personalizadas.`,
  },

  {
    icon: "tabler:heart",
    title: "Software personalizado",
    text: `Desarrollamos software a medida para tu negocio, con las funcionalidades que necesitas y adaptado a tus procesos internos.`,
  },

  {
    icon: "tabler:wand",
    title: "Proceso de Automatización",
    text: `Automatiza tus procesos internos y ahorra tiempo y dinero con nuestras soluciones de automatización de procesos.`,
  },

  {
    icon: "tabler:api-app",
    title: "Soporte y Mantenimiento",
    text: `Ofrecemos soporte y mantenimiento continuo para tu negocio, para que puedas centrarte en lo que realmente importa.`,
  },

  {
    icon: "tabler:brand-twitter",
    title: "Gestión de Redes Sociales",
    text: `Gestionamos tus redes sociales para aumentar tu presencia digital y mejorar el posicionamiento de tu marca en internet.`,
  },
];
---

<section id="feature1" class="my-12 md:my-24">
  <div class="container">
    <div class="grid gap-6 sm:grid-cols-2 md:py-8 lg:grid-cols-3">
      {
        featureData.map((feature, idx) => (
          <FeatureCard
            title={feature.title}
            text={feature.text}
            icon={feature.icon}
            data-aos="fade-up"
            data-aos-delay={0.15 * idx}
            data-aos-trigger="#feature1"
          />
        ))
      }
    </div>
  </div>
</section>
