---
/**
 * * These are alternating side cards with titles, text, and images
 * Recommend using 2 or 3 cards in a row
 */

// components
import FeatureCard from "@components/FeatureCard/FeatureCardSideImage.astro";

// images
import image1 from "@images/dashboard-main-min.png";
import image2 from "@images/dashboard-side-min.png";
import image3 from "@images/dashboard-3-min.png";
import image4 from "@images/dash2504.png";

interface FeatureItem {
  image: ImageMetadata; // an imported image
  label: string; // colored text first
  title: string; // larger title second
  details: string; // text details third
}

// data
const featureData: FeatureItem[] = [
  // {
  //   image: image2,
  //   label: "Custom Solutions",
  //   title: "Software and Web Development",
  //   details: `Create a software / website tailored exactly to your needs with our custom web development services. Whether
  //   you're looking to launch an e-commerce store, build a dynamic forum, or establish a unique online presence,
  //   we offer scalable and secure solutions. We ensure your site is optimized for performance.`,
  // },
  {
    image: image2,
    label: "Soluciones Personalizadas",
    title: "Desarrollo de Software y Web",
    details: `Cree un software o sitio web adaptado exactamente a sus necesidades con nuestros servicios de desarrollo web personalizados.
    Ya sea que esté buscando lanzar una tienda de comercio electrónico, construir un foro dinámico o establecer una presencia en línea única,
    ofrecemos soluciones escalables y seguras. Nos aseguramos de que su sitio esté optimizado para el rendimiento.`,
  },
  // {
  //   image: image4,
  //   label: "Important Analytics",
  //   title: "Real-time insights with Dashboards",
  //   details: `Optimize operations with our advanced dashboard featuring real-time data sync,
  //   seamless Google integrations, and robust security. Enhance collaboration and efficiency
  //   with customizable features and automated processes. Ensure uninterrupted access with 99.9% uptime.`,
  // },
  {
    image: image4,
    label: "Análisis y Estadísticas",
    title: "Estadísticas en Tiempo Real",
    details: `Impulse su negocio con el mejor análisis de sus datos. Nuestro servicio de estadísticas en tiempo real le permite monitorear el rendimiento y la eficiencia de sus aplicaciones y campañas digitales de manera continua. Aproveche las métricas para tomar decisiones informadas y optimizar sus estrategias al instante. Con nuestras herramientas avanzadas de análisis, transformamos grandes volúmenes de datos en insights claros y accionables, asegurando que siempre esté un paso adelante en la toma de decisiones críticas para su negocio.`,
  },

  // {
  //   image: image2,
  //   label: "Efficiency Boost",
  //   title: "Process Automation Solutions",
  //   details: `Transform your business with our process automation solutions. Specializing in automating critical
  //   workflows, we help you save time and reduce costs. Our approach enhances efficiency and accuracy across your
  //   operations, allowing you to allocate resources to strategic growth.`,
  // },
];
---

<section id="feature4" class="my-24 md:my-36">
  <div class="container">
    <div class="flex flex-col gap-16 md:gap-24">
      {
        featureData.map((feature, idx) => (
          <FeatureCard
            label={feature.label}
            title={feature.title}
            details={feature.details}
            image={feature.image}
            imageSide={idx % 2 === 0 ? "right" : "left"}
          />
        ))
      }
    </div>
  </div>
</section>
